{% extends 'base.html' %}

{% block head_scripts %}

    {% if current_user.is_authenticated %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="/static/js/mathjax.js"></script>
    {% endif %}

{% endblock %}

{% block content %}

    {% if not current_user.is_authenticated %}
        <h1>Welcome! Please sign up or log in to see content</h1>
    {% else %}

        <h1>Welcome {{ name }}!</h1>
        <a href="/newpost">Create new post</a>

        <ul>
            {% for post in posts %}
                <li>{{ post.question }}</li>
                <div>{{ post.answer }}</div>
        {% endfor %}
        </ul>






    {% endif %}




{% endblock %}