{% extends 'base.html' %}

{% block head_scripts %}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="/static/js/mathjax.js"></script>

{% endblock %}

{% block content %}

    <br>
    <br>
    {% if current_user.is_authenticated and current_user.is_admin %}
        <a href="{{ url_for('edit_post', post_id=post.id, homework_id=post.homework.id) }}">Edit</a>
        <a href="{{ url_for('delete_post', post_id=post.id, homework_id=post.homework.id) }}" class="confirm-link-click">Delete</a>
    {% endif %}

    <div class="post">
        <span>Q: {{ post.question }}</span><br>
        <span>A: {{ post.answer }}</span><br>
    </div>

{% endblock %}

{% block body_scripts %}
    <script src="/static/js/script.js"></script>
{% endblock %}
